$navbar-default-bg: #312312;
$light-orange: #ff8c00;
$navbar-default-color: $light-orange;

@import "bootstrap-sprockets";
@import "bootstrap";

body {
    font-family: "Avenir","Lucida Grande","Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}
#logo {
    float: left;
    margin-left: 10px;
    font-size: 2em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

#logo:hover {
    color: white;
    text-decoration: none;
}

@media (min-width: 768px) {
    .navbar {
        border-radius: 0;
    }
}

@media (max-width: 767px) {
    .navbar-nav .open .dropdown-menu {
        background-color: #fff;
    }
}

.navbar-nav > li > a{
    color: #fff;
}

.navbar-bg {
    background-color: #298ae3;
}

.navbar-toggle .icon-bar {
    background-color: #fff;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #2b99f0;
}
.nav > li > a:hover, .nav > li > a:focus {
    background-color: #2b99f0;
    color: #fff;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #fff;
    background-color: #2b99f0;
}

// a {
//     color: #fff;
// }

.center {
    text-align: center;
}

h1, h2, h3, h4 {
    line-height: 1;
}

h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
}

h2 {
    font-size: 1.2em;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: #777;
}

.left {
    text-align: left;
    letter-spacing: .5px;
}

.footer {
    margin-top: 25px;
    border-top: 1px solid #eaeaea;
    color: #777;
}

.chef_info {
    margin-top: 10px;
}

.gravatar {
    border-radius: 10px;
}

.well {
    background-color: #EDEDED;
}

input, textarea, select, .unedtable-input {
    border: 1px solid #dd2d2d2;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 15px;
}

.input_checkbox input {
    width: auto !important;
}

input {
    height: auto !important;
}

span.picture {
    margin-top: 10px;
    input {
        border: 0;
    }
}

.show_recipe {
    margin: 10px 10px 10px 10px;
}
